{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-color: #F9F9F9">

<head>
    <meta charset="UTF-8">
    <title>E-commerce</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

</head>

<body>

    <div class="my_navbar">

        <div class="row">
            <div style="display: inline-block; width: 68%">
                <h3 class="title" style="margin-left: 4.5%;">E-commerce</h3>
            </div>

            <div style="display: inline-block">
                <form method="POST" action="/ecommerce/products" style="text-align: center; display: inline-block;">
                    {% csrf_token %}
                    <button class="item_menu" type="submit">Produits</button>
                </form>
                <span style="color: gray">|</span>
                <form method="POST" action="/ecommerce/customers" style="text-align: center; display: inline-block;">
                    {% csrf_token %}
                    <button class="item_menu" type="submit">Clients</button>
                </form>
                <span style="color: gray">|</span>
                <form method="POST" action="/ecommerce/scheduler" style="text-align: center; display: inline-block;">
                    {% csrf_token %}
                    <button class="item_menu" type="submit">Scheduler</button>
                </form>

            </div>
        </div>
    </div>

    <div style="padding-top: 5rem">
        <div style="display: inline-block; width: 75%; padding-left: 1%">
            <h4 style="margin-left: 3%; font-family: 'Raleway', sans-serif; color: #41A1DB">Page des produits</h4>
            <p style="margin-left: 3%; font-family: 'Raleway', sans-serif;">Cette page affiche les produits disponibles
                dans
                la BDD E-commerce, ainsi que les promotions</p>
        </div>


        <div style="display: inline-block">
            <form method="POST" action="/ecommerce/add" style="text-align: center; display: inline-block;">
                {% csrf_token %}
                <button class="validation" type="submit">Récupérer les produits</button>
            </form>

            <form method="POST" action="/ecommerce/remove" style="text-align: center; display: inline-block;">
                {% csrf_token %}
                <button class="validation" type="submit">Vider la BDD produits</button>
            </form>
        </div>
        <br>

        <div>
            <h4 style="margin-left: 3%; font-family: 'Raleway', sans-serif; color: #41A1DB">Liste des promotions</h4>
        </div>

        {% for promo in clients_promos %}
        <div class="product">
            <div class="picture_product"></div>
            <div>
                <p><span style="color: gray">Id client<br></span> {{ promo.IdClient }}</p>
                <p><span style="color: gray">Date<br></span> {{ promo.date }}</p>
                <p><span style="color: gray">Reduction<br></span> {{ promo.reduction }}</p>
            </div>
        </div>
        {% endfor %}


        {% for promo in products_promos %}
        <div class="product">
            <div class="picture_product"></div>
            <div>
                <p><span style="color: gray">Id client<br></span> {{ promo.IdClient }}</p>
                <p><span style="color: gray">Date<br></span> {{ promo.date }}</p>
                <p><span style="color: gray">Quantité<br></span> {{ promo.quantity }}</p>
                <p><span style="color: gray">Reduction<br></span> {{ promo.reduction }}</p>
                <p><span style="color: gray">Code produit<br></span> {{ promo.codeProduit }}</p>
            </div>
        </div>
        {% endfor %}

        {% for promo in promos %}
        <div class="product">
            <div class="badge">{{ promo.reduction }} %</div>
            <div class="picture_product"></div>
            <div>
                <p><span style="color: gray">Famille produit<br></span> {{ promo.familleProduit }}</p>
                <!-- <p><u>Description du produit:</u> {{ promo.descriptionProduit }}</p>
                <p><u>Quantité produit:</u> {{ promo.quantiteMin }}</p>
                <p><u>Packaging:</u> {{ promo.packaging }}</p> -->
                <p><span style="color: gray">Prix<br></span><del style="margin-right: 3%">{{ promo.prixOriginel }} € </del>    {{ promo.prix }} €</p>
                <p><span style="color: gray">Code produit<br></span> {{ promo.codeProduit }}</p>
                {% if promo.exclusivite == "ecommerce" %}
                    <p style="color: #41A1DB"><span>Ceci est une exclusivité e-commerce !</span></p>
                {% else %}
                    <p style="color: white"><span>x</span></p>
                {% endif %}
                <div class="details_banner">
                    <a  class="details_link" href="{% url 'go-product' pk=promo.id %}">Voir le produit</a>
                </div>
            </div>
        </div>

        {% endfor %}
    <br>
            <div>
            <h4 style="margin-left: 3%; font-family: 'Raleway', sans-serif; color: #41A1DB">Liste des produits</h4>
        </div>

        {% for product in data %}
        <div class="product">
            <div class="picture_product"></div>
            <div>
                <p><span style="color: gray">Famille produit<br></span> {{ product.familleProduit }}</p>
                <!-- <p><u>Description du produit:</u> {{ product.descriptionProduit }}</p>
                <p><u>Quantité produit:</u> {{ product.quantiteMin }}</p>
                <p><u>Packaging:</u> {{ product.packaging }}</p> -->
                <p><span style="color: gray">Prix<br></span> {{ product.prix }} €</p>
                <p><span style="color: gray">Code produit<br></span> {{ product.codeProduit }}</p>
                {% if product.exclusivite == "ecommerce" %}
                    <p style="color: #41A1DB"><span>Ceci est une exclusivité e-commerce !</span></p>
                {% else %}
                    <p style="color: white"><span>x</span></p>
                {% endif %}
                <div class="details_banner">
                    <a  class="details_link" href="{% url 'go-product' pk=product.id_catalogue %}">Voir le produit</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

</body>

</html>