{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-color: #F9F9F9">

<head>
    <meta charset="UTF-8">
    <title>E-commerce</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">

</head>

<body>

    <div class="my_navbar">

        <div class="row">
            <div>
                <h3 class="title">E-commerce</h3>
            </div>

            <div class="menu">
                <!-- <p>Tous les produits</p> -->
            </div>
        </div>
    </div>

    <div>
        <h4 style="margin-left: 3%">Liste des produits</h4>
        <p style="margin-left: 3%">Cette page affiche les produits disponibles dans la BDD E-commerce</p>
        
        {% for product in data %}
        <div class="product">
            <p><b>Code produit:</b> {{ product.codeProduit }}</p>
            <p><b>Famille du produit:</b> {{ product.familleProduit }}</p>
            <p><b>Description du produit:</b> {{ product.descriptionProduit }}</p>
            <p><b>Quantité produit:</b> {{ product.quantiteMin }}</p>
            <p><b>Packaging:</b> {{ product.packaging }}</p>
            <p><b>Prix:</b> {{ product.prix }}</p>
        </div>

        {% endfor %}

    </div>

    <form method="POST" action="/ecommerce/products" style="text-align: center">
        {% csrf_token %}
        <button class="validation" type="submit">Récupérer les produits</button>
    </form>

    <form method="POST" action="/ecommerce/remove" style="text-align: center">
        {% csrf_token %}
        <button class="validation" type="submit">Vider la BDD produits</button>
    </form>

</body>

</html>