{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-color: #F9F9F9">

<head>
    <meta charset="UTF-8">
    <title>E-commerce</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

</head>

<body>

    <div class="my_navbar">

        <div class="row">
            <div style="display: inline-block; width: 68%">
                <h3 class="title" style="margin-left: 4.5%;">E-commerce</h3>
            </div>

            <div style="display: inline-block">
                <form method="POST" action="/ecommerce/products" style="text-align: center; display: inline-block;">
                    {% csrf_token %}
                    <button class="item_menu" type="submit">Produits</button>
                </form>
                <span style="color: gray">|</span>
                <form method="POST" action="/ecommerce/customers" style="text-align: center; display: inline-block;">
                    {% csrf_token %}
                    <button class="item_menu" type="submit">Clients</button>
                </form>
                <span style="color: gray">|</span>
                <form method="POST" action="/ecommerce/scheduler" style="text-align: center; display: inline-block;">
                    {% csrf_token %}
                    <button class="item_menu" type="submit">Scheduler</button>
                </form>

            </div>
        </div>
    </div>

    <div class="my_row">
        <div class="left_container">
            <div class="picture_product"></div>
        </div>
        <div class="right_container">
            <h3>Description</h3>
            <p>{{ product.descriptionProduit }}</p>
            <br>
            <p><u>Informations</u></p>
            <p>Code produit: {{ product.codeProduit }}</p>
            <p>Famille produit: {{ product.familleProduit }}</p>
            <p>Quantité minimum: {{ product.quantiteMin }}</p>
            <p>Packaging: {{ product.packaging }}</p>
            <p>Prix: {{ product.prix }}</p>
            <p>Exclusivite: {{ product.exclusivite }}</p>
        </div>
    </div>

</body>

</html>